rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{document} {
      allow read, write: if true;
    }
    match /students/{document} {
      allow read, write: if true;
    }
    match /schedules/{document} {
      allow read, write: if true;
    }
    match /auditLogs/{document} {
      allow read, write: if true;
    }
  }
}
